/* header */
.header-container {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  height: 172px;
  border-bottom: 1px solid #bdbdbd;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.logo {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 600;
}

.header-right {
  display: flex;
  gap: 16px;
}

.title {
  text-align: end;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
}

.logo-uni > img {
  width: 100px;
}

/* container */
.container {
  display: flex;
}

/* sidebar */
.isDisplay {
  display: none !important;
}

.sidebar {
  width: 316px;
  height: 100%;
  background: #f5f5f5;
}

.overview {
  padding: 14px 16px;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.overview:hover {
  color: var(--primary-color);
}

.department {
  border-bottom: 1px solid #bdbdbd;
  /* height: 700px; */
}

.department-title {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  width: 100%;
  color: var(--primary-color);
  background-color: rgba(165, 110, 255, 0.25);
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.department-content {
  padding: 0px 48px;
  height: 395px;
}

.item {
  padding: 16px 0px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
}
.item:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.log-out {
  display: flex;
  gap: 16px;
  padding: 16px 12px;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}

/* content */
.content {
  width: 100%;
  margin: 25px 20px;
}
/* new department */
.new-department {
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn-1 {
  /* position: absolute;
  right: 0; */
  padding: 10px 20px;
  width: fit-content;
  background: var(--primary-color);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
}

.new-department-content {
  margin-top: 40px;
}

.new-department-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.bg-gray {
  background: #f5f5f5;
  text-align: center;
}

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table {
  margin: 20px 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

th, td {
  padding: 5px 8px;
}

th {
  text-align: left;
}

.btn-2 {
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.back {
  width: fit-content;
}